.contacts {
	&__list {
		display: flex;
		align-items: center;
		gap: 3.6rem;
	}
	&__link {
		cursor: pointer;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		gap: 0.2rem 1.2rem;
		align-items: center;
		&-icon {
			font-size: 3rem;
			grid-row: 1 / -1;
			color: var(--clr-primary);
		}
		&-text {
			font-size: 1.4rem;
			font-weight: 700;
		}
		&-value {
			grid-column: 2 / -1;
			font-size: 1.8rem;
		}
	}
}
