.services {
	padding-top: 21rem;
	padding-bottom: 8rem;
	background-color: var(--clr-gray-200);
	&__list {
		display: flex;
		gap: 3rem;
		&-item {
			flex: 1;
		}
	}
	&__about {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4rem;
	}
}
